@import "../../theme/index";

.flexRow {
    &--brand-bar-container {
        margin-top: -5px;
        padding: 25px 20px;
        background-color: $color-default;

        :global(.vtex-store-components-3-x-container) {
            padding: 0px !important;
        }
    }

    &--shelf-template-container {
        padding: 0px 20px;
        margin-top: 40px;

        :global(.vtex-store-components-3-x-container) {
            padding: 0px;
        }
    }
}

.flexRowContent {
    &--brand-bar-container {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
    }
}

.flexCol {
    &--shelf-template-content {
        gap: 25px;
    }
}