@import "../../theme/index";

.element {
    &--shelf-product {
        padding: 0px;
        gap: 10px;

        :global(.vtex-store-components-3-x-discountInsideContainer ) {
            background-color: $color-default !important;
        }
    }
}

.container {
    &--shelf-product  {
        .nameContainer {
            padding: 0px !important;

            .productBrand {
                font-family: "Inter";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                color: $color-default;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                text-align: left;
            }
        }

        .priceContainer {
            padding: 0px !important;
            justify-content: flex-start !important;
            align-items: flex-start;
            width: 100%;
            
            .productPriceClass {
                justify-content: flex-start !important;

                .listPriceContainer {
                    padding: 0px;

                    .listPriceLabel {
                        display: none !important;
                    }

                    .listPrice {
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 27px;
                        text-decoration-line: line-through;
                        color: $color-listPrice;
                        padding: 0px;
                    }
                }

                .sellingPriceContainer {
                    padding: 0px;

                    .sellingPriceLabel {
                        display: none !important;
                    }

                    .sellingPrice {
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 27px;
                        color: $color-default;
                        padding: 0px;
                    }
                }
            }
        }
    }
}