.openIconContainer {
    &--minicart-header {
        padding: 0px;

        :global(.vtex-button){
            margin: 0px;
            padding: 0px;
            
            &:hover {
                background-color: transparent !important;
            }

            :global(.vtex-button__label) {
                padding: 0px;
                margin: 0px;
            }
        }
    }
}